@charset "UTF-8";
/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
* {
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  font-family: "Raleway";
  background-image: linear-gradient(to right top, #edb78f, #a7a374, #6a896d, #426a66, #334a52);
  color: #334A52; }

.margin {
  margin-left: 200px; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  justify-content: center;
  align-content: center;
  align-items: center; }

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding: 3%; }

img {
  width: 300px; }

h4 {
  font-size: 40px;
  font-family: "Raleway"; }

.logos {
  width: 2.5rem; }

.sectoresWeb a {
  color: #334A52;
  font-weight: bold;
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 0 10px; }
  .sectoresWeb a:hover {
    background-color: #334A52;
    color: #EDB78F;
    text-decoration: none; }

.sectoresWeb p {
  padding-top: 10px;
  padding-bottom: 5px; }

#navbarNav {
  background-color: #334A52;
  position: fixed;
  width: 100%;
  z-index: 10;
  grid-area: header;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  margin: 0;
  opacity: 0.8; }
  #navbarNav .nav-link {
    color: #EDB78F;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
    margin-top: 65px;
    opacity: none; }
    #navbarNav .nav-link:hover {
      background-color: #EDB78F;
      color: #334A52;
      padding: 8px; }
  #navbarNav img {
    width: 1rem; }

.primeraParte {
  grid-area: banner; }
  .primeraParte h1 {
    color: #334A52;
    padding: 3px;
    font-size: 5em;
    font-family: "Staatliches";
    font-weight: bold;
    text-align: center;
    background-image: url("../media/fondoFormas.png");
    background-size: cover;
    width: 100%;
    padding-right: 15%;
    position: fixed; }

.textos {
  font-family: "Raleway";
  text-align: justify;
  font-size: 1em;
  margin-bottom: 15px; }

.especial {
  margin-right: 8%;
  margin-left: 8%;
  text-indent: 2em;
  font-weight: bold; }

.listasP {
  list-style-position: inside;
  margin: 1em;
  margin-right: 3%;
  font-family: "Raleway";
  text-align: justify; }

.fondoRosado {
  margin-right: 3%;
  margin-left: 3%; }

.escritoP {
  font-family: "Raleway";
  text-align: justify;
  color: #334A52;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-bottom: 2%;
  margin-top: 2%; }
  .escritoP:hover {
    color: #EDB78F; }
  .escritoP p {
    margin-right: 6%;
    margin-left: 6%;
    font-weight: bold; }

.titulosP {
  font-family: "Staatliches";
  font-size: 1.5em;
  margin-bottom: 8px;
  margin-top: 15px; }

.lluvia {
  text-align: center;
  font-family: "Staatliches";
  font-size: 2em;
  margin-bottom: 8px;
  margin-top: 15px; }

.final {
  text-align: center;
  font-family: "Staatliches";
  font-size: 1.3em; }

h4.mayus {
  font-size: 2em; }

.mayus {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.5em;
  margin-top: 8px; }
  .mayus a {
    color: #334A52;
    font-size: 0.7em; }
    .mayus a:hover {
      text-decoration: none;
      border-radius: 7px; }

.inline {
  display: inline-block;
  width: 50%; }

.bloque {
  display: inline-block;
  width: 50%; }

h3.inline2 {
  background-color: #334A52;
  font-family: "Staatliches";
  text-align: center;
  font-size: 60px;
  color: #EDB78F;
  padding-top: 20px;
  padding-bottom: 15px; }

.logoFijo {
  display: block;
  position: fixed;
  bottom: 0;
  margin-left: 50px; }
  .logoFijo img {
    width: 40px; }

.logoFijo2 {
  display: block;
  position: fixed;
  bottom: 0;
  margin-left: 100px; }
  .logoFijo2 img {
    width: 40px; }

footer {
  background-color: #334A52;
  padding: 10px;
  width: 100%;
  grid-area: footer;
  grid-column: 1 / 3;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  text-align: center; }
  footer a {
    color: #EDB78F;
    font-weight: bold;
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 0 10px; }
    footer a:hover {
      background-color: #EDB78F;
      color: #334A52;
      text-decoration: none; }

.videos {
  text-align: center;
  margin-bottom: 3%; }
  .videos .btn {
    display: inline-block; }

/** IMAGEN CON EFECTO */
.imgPersona {
  height: 500px;
  text-align: center;
  grid-area: img;
  margin-top: 120px;
  margin-bottom: 2%; }

/** MODAL DE AGRADECIMIENTO */
.boton {
  font-family: "Staatliches";
  font-size: 1.3em;
  color: #334A52;
  background-color: #EDB78F;
  border-color: #334A52;
  margin-top: 2%; }
  .boton:hover {
    color: #EDB78F;
    background-color: #334A52;
    border-color: #EDB78F; }

.modal-content {
  background-color: #EDB78F;
  color: #334A52; }
  .modal-content:hover {
    background-color: #334A52;
    color: #EDB78F; }
  .modal-content #exampleModal {
    font-family: "Raleway"; }
  .modal-content .modal-title {
    font-family: "Staatliches"; }
  .modal-content .modal-body {
    text-align: center; }
  .modal-content .modal-footer {
    font-family: "Staatliches"; }
  .modal-content .botonExtra {
    margin-top: 10px; }

/** SIDEBAR */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #334A52;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-weight: bolder; }
  .sidebar a {
    display: block;
    color: white;
    padding: 16px; }
    .sidebar a.active {
      background-color: #EDB78F;
      color: white;
      text-decoration: none; }
    .sidebar a:hover:not(.active) {
      background-color: #516266;
      color: white;
      text-decoration: none; }
  .sidebar img {
    width: 20px;
    padding-right: 5px; }

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px; }

/** TABLET*/
@media screen and (max-width: 825px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed; }
  .sidebar a {
    float: left; }
  div.content {
    margin-left: 0; }
  .primeraParte h1 {
    position: absolute;
    margin-top: 50px;
    padding-right: 0;
    font-size: 3.2em;
    padding: 5px; }
  .margin {
    margin-left: 0; }
  /** IMAGEN CON EFECTO */
  .imgPersona {
    height: 300px;
    margin-top: 170px; }
  .logoFijo {
    display: block;
    position: fixed;
    bottom: 0;
    margin-left: 20px; }
    .logoFijo img {
      width: 40px; }
  .logoFijo2 {
    display: block;
    position: fixed;
    bottom: 0;
    margin-left: 70px; }
    .logoFijo2 img {
      width: 40px; }
  h3.inline2 {
    font-size: 1.5em; } }

/** MOBILE */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
    position: initial; }
  .primeraParte h1 {
    font-size: 2.3em;
    position: absolute;
    margin-top: 220px;
    padding-right: 0;
    padding: 5px; }
  .margin {
    margin-left: 0; }
  /** IMAGEN CON EFECTO */
  .imgPersona {
    height: 200px;
    margin-top: 300px; } }

/** TAMAÑO TIPOGRAFIA */
.mTop--1 {
  font-size: 1em; }

.mTop--2 {
  font-size: 2em; }

.mTop--3 {
  font-size: 3em; }

.mTop--4 {
  font-size: 4em; }

.mTop--5 {
  font-size: 5em; }

/* GROSOR TIPOGRAFIA */
.type--thin {
  font-family: "Raleway";
  font-weight: 100; }

.type--light {
  font-family: "Raleway";
  font-weight: 300; }

.type--regular {
  font-family: "Raleway";
  font-weight: 400; }

.type--bold {
  font-family: "Raleway";
  font-weight: 700; }

/** TAMAÑOS */
.text--xsm {
  font-size: 1rem; }

.text--sm {
  font-size: 1.8rem; }

.text--md {
  font-size: 2.3rem; }

.text--lg {
  font-size: 3rem; }

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
/**MIXIN */
/** */
#fondo {
  background-image: url("../media/banner.jpg");
  background-size: cover;
  position: relative; }
  #fondo:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4); }

#index1 {
  grid-template-areas: "header header header" "banner banner banner" "indice indice indice" "intro intro intro" "blog blog blog" "footer footer footer"; }

#mySidenav {
  position: relative; }
  #mySidenav a {
    position: absolute;
    left: -180px;
    transition: 0.3s;
    padding: 15px;
    width: 215px;
    text-decoration: none;
    font-size: 1em;
    color: white;
    border-radius: 0 5px 5px 0;
    font-family: "Raleway";
    font-weight: bolder; }
    #mySidenav a:hover {
      left: 0;
      padding-left: 35px; }
  #mySidenav #in {
    top: 220px;
    background-color: #EDB78F; }
  #mySidenav #an {
    top: 280px;
    background-color: #EA7353; }
  #mySidenav #bl {
    top: 340px;
    background-color: #516266; }
  #mySidenav #re {
    top: 400px;
    background-color: #334A52; }
  #mySidenav img {
    width: 20px;
    padding-right: 5px; }

#banner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  grid-template-areas: "tit tit" "img text" "img text";
  margin-top: 3%; }
  #banner .imgBanner {
    grid-area: img;
    margin: 10px; }
    #banner .imgBanner img {
      width: 380px; }
  #banner .bannerInfo {
    grid-area: text;
    color: #334A52; }
    #banner .bannerInfo img {
      width: 100px;
      margin: 1rem; }
  #banner .bannerN {
    font-family: "Staatliches";
    font-weight: bolder;
    color: #EDB78F;
    text-shadow: 1.5px 1.5px 1.5px #334A52;
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 5px;
    margin-right: 8%; }
  #banner .bannerP {
    font-family: "Raleway";
    text-align: justify;
    color: white;
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-right: 8%;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #334A52; }

.bannerTitulo {
  position: relative;
  grid-area: tit; }
  .bannerTitulo h6 {
    font-family: "Staatliches";
    font-size: 5em;
    color: #EA7353;
    text-shadow: 2px 2px 2px #334A52;
    font-weight: bolder;
    text-align: center; }

/** RESPONSIVE MOBILE y TABLET */
/** TABLET*/
@media screen and (max-width: 825px) {
  #fondo {
    background-image: url("../media/bannerTablet.jpg");
    height: 100vh; }
    #fondo:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4); }
  #banner {
    grid-template-areas: "tit tit" "img img" "text text"; }
    #banner .imgBanner img {
      margin-top: 3%;
      width: 300px; }
    #banner .bannerInfo {
      margin-left: 5%; }
      #banner .bannerInfo img {
        width: 70px; }
    #banner .bannerN {
      font-size: 1.5em;
      margin-top: 5%; }
  .bannerTitulo h6 {
    font-size: 3em;
    padding-right: 15px;
    padding-left: 15px; }
  #mySidenav a {
    left: -175px;
    width: 215px;
    font-size: 1em; }
    #mySidenav a:hover {
      padding-left: 15px; }
  #mySidenav #in {
    top: 140px; }
  #mySidenav #an {
    top: 200px; }
  #mySidenav #bl {
    top: 260px; }
  #mySidenav #re {
    top: 320px; }
  #mySidenav img {
    width: 15px; } }

/** MOBILE */
@media screen and (max-width: 400px) {
  #fondo {
    background-image: url("../media/bannerMobile.jpg"); }
    #fondo:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.4); }
  #banner {
    grid-template-areas: "tit tit" "img img" "text text"; }
    #banner .imgBanner img {
      margin-top: 15%;
      width: 200px; }
    #banner .bannerInfo {
      margin-left: 5%; }
      #banner .bannerInfo img {
        width: 40px; }
    #banner .bannerN {
      font-size: 1.2em;
      margin-top: 15%;
      color: #EDB78F;
      text-shadow: 1px 1px 1px #516266; }
    #banner .bannerP {
      font-size: 0.8em; }
  .bannerTitulo h6 {
    font-size: 2em;
    color: #EDB78F; }
  #mySidenav a {
    left: -175px;
    width: 215px;
    font-size: 1em; }
    #mySidenav a:hover {
      padding-left: 15px; }
  #mySidenav #in {
    top: 140px; }
  #mySidenav #an {
    top: 200px; }
  #mySidenav #bl {
    top: 260px; }
  #mySidenav #re {
    top: 320px; }
  #mySidenav img {
    width: 15px; } }

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
#index2 {
  grid-template-areas: "img img img" "item1 item1 item1" "item2 item2 item2" "item3 item3 item3" "item4 item4 item4" "item5 item5 item5" "form form form" "exp exp exp" "op op op" "footer footer footer";
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center; }

#item1 {
  grid-area: item1; }

#item2 {
  grid-area: item2; }

#item3 {
  grid-area: item3; }

#item4 {
  grid-area: item4; }

#item5 {
  grid-area: item5; }

#explicacion {
  grid-area: exp; }

#formularioG {
  grid-area: form;
  text-align: center; }

#miOpinion {
  grid-area: op; }

.efect1 {
  transition: all 500ms ease-in-out; }
  .efect1:hover {
    filter: blur(5px); }

.efect2 {
  overflow: hidden;
  transition: all 500ms ease-in-out; }
  .efect2:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }

.resul {
  padding: 2%;
  /** DEJE PREPARADA ESTA PARTE PARA CUANDO TENGA LAS RESPUESTAS DEL FORMULARIO */
  /**.gridResul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 20px;
		justify-content: stretch;
		align-content: stretch;
		align-items: $centro;
		grid-template-areas:
		"edad acF sen"
		"nega ali sana"
		"comen comenMal conf"
		"hoy opAf opAF"
		"ta redS redS"
		"del del maT"
		"salud est mat"
		"aE fut fut";
		.contenedorR{
			background-color: $colorAzul;
			border-radius: $bordes;
			text-align: $centro;
			color: $colorBlanco;
			padding: 1em;
			justify-content: stretch;
			align-content: stretch;
		}
		@mixin resultados(){
			overflow:scroll ;
			height: 200px;
		}
		#edad{
			grid-area: edad;
			@include resultados;
		}
		#actividadFisica{
			grid-area: acF;
			@include resultados;
		}
		#sentimientos{
			grid-area: sent;
			@include resultados;
		}
		#negativos{
			grid-area: nega;
		}
		#alimentacion{
			grid-area: ali;
		}
		#alimentacionSana{
			grid-area: sana;
		}
		#comentarios{
			grid-area: comen;
		}
		#comentarioMalos{
			grid-area: comenMal;
		}
		#conforme{
			grid-area: conf;
		}
		#dispuestoHoy{
			grid-area: hoy;
		}
		#opinionAF{
			grid-area: opAF;
		}
		#salud{
			grid-area: salud;
		}
		#trastornoAlimen{
			grid-area: ta;
		}
		#redesSociales{
			grid-area: redS;
		}
		#conforme{
			grid-area: conf;
		}
		#cuerpoD{
			grid-area: del;
		}
		#cuerpoMaT{
			grid-area: maT
		}
		#estereotipos{
			grid-area: est;
		}
		#actExtra{
			grid-area: aE;
		}
		#futuro{
			grid-area: fut;
		}
	}	*/ }

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
/** INDEX 3 */
#index3 {
  grid-template-areas: "consulta consulta consulta" "img img img" "form form form" "mensaje mensaje mensaje" "footer footer footer";
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center; }

/** CONSULTA */
#consulta {
  grid-area: consulta;
  padding: 2%; }

/** FORMULARIO DE CONSULTA */
#formulario {
  background-image: url("../media/fondoFormas.png");
  color: #EDB78F;
  font-weight: bolder;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: bold;
  padding: 3%;
  margin: 3%;
  border-radius: 15px;
  text-align: left; }
  #formulario .btn {
    background-color: #334A52;
    color: #EDB78F;
    font-family: "Raleway";
    font-weight: bolder; }
    #formulario .btn:hover {
      background-color: #EDB78F;
      color: #334A52; }
  #formulario .container-flew .form {
    grid-area: form; }

/** MENSAJE LINDO */
#mensajeLindo {
  padding: 3%;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  grid-area: mensaje; }
  #mensajeLindo img {
    border-radius: 15px;
    margin-bottom: 3.5%; }

/** TABLET*/
/** MOBILE */
@media screen and (max-width: 400px) {
  #mensajeLindo img {
    width: 200px; } }

#index5 {
  grid-template-areas: "blog blog blog" "img img img" "yo yo yo" "galeria galeria galeria" "footer footer footer";
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center; }

#blog {
  grid-area: blog; }

#yo {
  grid-area: yo; }
  #yo img {
    border-radius: 10px;
    height: 150px; }

#galeria {
  grid-area: galeria;
  margin-left: 2%;
  margin-right: 2%; }

.unir2 {
  display: inline-block; }

.unir {
  background-color: #EDB78F;
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%; }
  .unir:hover {
    background-color: #334A52; }

#linkBlog {
  padding: 5px;
  margin: 5px; }
  #linkBlog:hover {
    background-color: #334A52;
    color: white; }

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
@media only screen and (min-width: 768px) {
  #index1 {
    grid-template-areas: "header header header"		 "banner banner banner" "indice indice indice" "intro intro intro" "blog blog blog" "consulta consulta consulta" "footer footer footer"; }
  #index2 {
    grid-template-areas: "banner banner banner" "indice indice indice" "item1 item1 item1" "item2 item2 item2" "item3 item3 item3" "item4 item4 item4" "item5 item5 item5" "footer footer footer"; }
  #index3 {
    text-decoration: none; }
  #index4 {
    grid-template-areas: "header header header" "banner banner banner" "indice indice indice" "ejer ejer ejer" "ali ali ali" "psico psico psico" "influ influ influ" "footer footer footer"; }
  #index5 {
    grid-template-areas: "header header header" "banner banner banner" "yo yo yo" "galeria galeria galeria" "footer footer footer"; }
  h1 {
    padding-right: 0;
    position: static;
    margin-top: 200px; } }

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
@media only screen and (min-width: 1024px) {
  #index1 {
    grid-template-areas: "header header header" "banner banner banner" ". indice ." "intro intro intro" "blog blog blog" "consulta consulta consulta" "footer footer footer"; }
  #index2 {
    grid-template-areas: "header header header" "banner banner banner" ". indice ." "item1 item1 item1" "item2 item2 item2" "item3 item3 item3" "item4 item4 item4" "item5 item5 item5" "footer footer footer"; }
  #index4 {
    grid-template-areas: "header header header" "banner banner banner" ". indice ." "ejer ejer ejer" "ali ali ali" "psico psico psico" "influ influ influ" "footer footer footer"; }
  #index5 {
    grid-template-areas: "header header header" "banner banner banner" "yo yo yo" "galeria galeria galeria" "footer footer footer"; }
  .bloque {
    width: 50%; }
  #indice {
    border-radius: 13px; }
  .indi {
    margin-left: 10%;
    margin-right: 10%; } }

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
#index4 {
  grid-template-areas: "ejer ejer ejer" "img img img" "ali ali ali" "psico psico psico" "influ influ influ" "footer footer footer";
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center; }

#alimentacion {
  grid-area: ali; }

#ejercitacion {
  grid-area: ejer; }

#influencers {
  grid-area: influ; }

#psicologia {
  grid-area: psico; }

.card {
  justify-content: stretch;
  text-align: center;
  margin: 1.5em;
  color: #334A52; }
  .card p {
    font-family: 'Raleway'; }
    .card p span {
      font-weight: bolder;
      text-transform: uppercase; }
  .card .perfil {
    background-color: #334A52;
    color: #EDB78F;
    border-color: #334A52;
    border-radius: 8px;
    text-transform: uppercase; }
    .card .perfil:hover {
      background-color: #EDB78F;
      color: #334A52;
      border-color: #EDB78F;
      border-radius: 8px; }

.card-title {
  font-family: "Staatliches";
  font-weight: bold;
  font-size: 1.4em; }

.card-text {
  text-align: justify;
  font-family: "Raleway"; }

.fotos {
  width: 18%; }
