#index5{
	grid-template-areas: 
	"blog blog blog"
	"img img img"
	"yo yo yo"
	"galeria galeria galeria"
	"footer footer footer";
	@include grid;
}
#blog{
	grid-area: blog;
}

#yo{
	grid-area: yo;
	img{
		border-radius: 10px;
		height: 150px;
	}
}
#galeria{
	grid-area: galeria;
	margin-left: 2%;
	margin-right: 2%;
}
.unir2{
	display: inline-block;
}
.unir{
	background-color: $colorCrema;
	border-radius: 10px;
	margin-left: 15%;
	margin-right: 15%;
	&:hover{
		background-color: $colorAzul;
	}
}

#linkBlog{
	padding: 5px;
	margin: 5px;
	&:hover{
		background-color: $colorAzul;
		color: $colorBlanco;
	}
}

.lluvia{
	text-align: $centro;
	font-family: $fontSecundaria;
	font-size: 2em;
	margin-bottom: 8px;
	margin-top: 15px;
} 

.rounded{
	border-radius: 8px;
}

@media screen and (max-width: 992px){
	.mTop--1{
		font-size: 0.8em;
		border-radius: 8px;
	}
	#galeria{
		img{
			width: 60%;
		}
	}
}
@media screen and (max-width: 576px){
	.unir{
		margin-left: 10%;
		margin-right: 10%;
	}
}

