@import "variables";

@media only screen and (min-width: 1024px){
	#index1{
		grid-template-areas: 
		"header header header"
		"banner banner banner"
		". indice ."
		"intro intro intro"
		"blog blog blog"
		"consulta consulta consulta"
		"footer footer footer";
	}
	#index2{
		grid-template-areas: 
		"header header header"
		"banner banner banner"
		". indice ."
		"item1 item1 item1"
		"item2 item2 item2"
		"item3 item3 item3"
		"item4 item4 item4"
		"item5 item5 item5"
		"footer footer footer";
	}
	#index3{
	}
	#index4{
		grid-template-areas: 
		"header header header"
		"banner banner banner"
		". indice ."
		"ejer ejer ejer"
		"ali ali ali"
		"psico psico psico"
		"influ influ influ"
		"footer footer footer";
	}
	#index5{
		grid-template-areas: 
		"header header header"
		"banner banner banner"
		"yo yo yo"
		"galeria galeria galeria"
		"footer footer footer";
	}
	.bloque{
		width: 50%;
	}
	#indice{
		border-radius: 13px;
	}
	.indi{
		margin-left: 10%;
		margin-right: 10%;
	}
}
