@import "variables";

/** INDEX 3 */
#index3{
	grid-template-areas: 
	"consulta consulta consulta"
	"img img img"
	"form form form"
	"mensaje mensaje mensaje"
	"footer footer footer";
	@include grid;
}

/** CONSULTA */
#consulta{
	grid-area: consulta;
	padding: 2%;
}

/** FORMULARIO DE CONSULTA */
#formulario{
	background-image: url("../media/fondoFormas.png");
	color: $colorCrema;
	font-weight: bolder;
	font-family: $fontPrincipal;
	font-size: 1rem;
	font-weight: bold;
	padding: 3%;
	margin: 3%;
	border-radius: $bordes;
	text-align: left;
	.btn{
		background-color: $colorAzul;
		color: $colorCrema;
		font-family: $fontPrincipal;
		font-weight: bolder;
		&:hover{
			background-color: $colorCrema;
			color: $colorAzul;
		}
	}
	.container-flew .form{
		grid-area: form;
	}
}

/** MENSAJE LINDO */
#mensajeLindo{
	padding: 3%;
	display: inline-block;
	text-align: center;
	font-size: 1em;
	grid-area: mensaje;
	img{
		border-radius: $bordes; 
		margin-bottom: 3.5%;
	}
}

/** TABLET*/
@media screen and (max-width: 700px) {
	
}

/** MOBILE */
@media screen and (max-width: 400px) {
	#mensajeLindo{
		img{
			width: 200px;
		}
	}
}


