@import "variables";
*{
	padding: 0;
	margin: 0;
}
body{
	margin: 0;
	font-family: $fontPrincipal;
	background-image: linear-gradient(to right top, #edb78f, #a7a374, #6a896d, #426a66, #334a52);
	color: $colorAzul;
	overflow-x: hidden;
}
.margin{
	margin-left:  200px;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 20px;
	justify-content: $centro;
	align-content: $centro;
	align-items: $centro;
}

header{
	width: 100%;
	.menu_bar {
		display: none;
		font-family: $fontPrincipal;
	}
	nav{
		font-family: $fontPrincipal;
		margin: 0;
	  	padding: 0;
	  	width: 205px;
	  	background-color: $colorAzul;
	  	position: fixed;
	  	height: 100%;
	  	overflow: auto;
	  	font-weight: bolder;
	  	z-index: 1;
	  	a {
			display: block;
			color: white;
			padding: 16px;
			font-size: 1em;
			&.active {
		  		background-color: $colorCrema;
		  		color: white;
		  		text-decoration: none;
		  	}
		  	&:hover:not(.active) {
			  	background-color: $colorCeleste;
			  	color: $colorBlanco;
			  	text-decoration: none;
			}
		}
		img{
			width: 20px;
			margin-right:10px;
		}
		ul {
			overflow:hidden;
			list-style:none;
		}
	}
}



img{
	width: 300px;
}
h4{
	font-size: 40px;
	font-family: $fontPrincipal;
}
.logos{
	width: 2.5rem;
}


.sectoresWeb{
	a{
		color:$colorAzul;
		font-weight: bold;
		display: inline-block;
		position:relative;
		text-decoration: none;
		&:hover{
			background-color: $colorAzul;
			color: $colorCrema;
			text-decoration: none;
		}
	}
	p{
		padding-top: 10px;
		padding-bottom: 5px;
	}
}
.primeraParte{
	grid-area: banner;
	h1{
		color:$colorAzul;
		padding: 3px;
		font-size: 5em;
		font-family: $fontSecundaria;
		font-weight: bold;
		text-align: $centro;	
		background-image: url("../media/fondoFormas.png");	
		background-size: cover;
		width: 100%;
	}
}

.textos{
	font-family: $fontPrincipal;
	text-align: justify;
	font-size: 1em;
	margin-bottom: 15px;
	span{
		font-weight: bolder;
		text-transform: uppercase;
	}
}
.especial{
	margin-right: 8%;
	margin-left: 8%;
	text-indent: 2em;
	font-weight: bold;
}

.listasP{
	list-style-position: inside;
	margin: 1em;
	margin-right: 3%;
	font-family: $fontPrincipal;
	text-align: justify;
	span{
		font-weight: bolder;
		text-transform: uppercase;
	}
}
.escritoP{
	font-family: $fontPrincipal;
	text-align: justify;
	color: $colorAzul;
	padding-bottom: 3%;
	padding-top: 3%; 
	margin-bottom: 2%;
	margin-top: 2%;
	&:hover{
		color: $colorCrema;
	}
	p{
		margin-right: 6%;
		margin-left: 6%;
		font-weight: bold;
	}
}
.titulosP{
	font-family: $fontSecundaria;
	font-size: 1.5em;
	margin-bottom: 8px;
	margin-top: 15px;
	text-align: left;
}
.lluvia{
	text-align: $centro;
	font-family: $fontSecundaria;
	font-size: 2em;
	margin-bottom: 8px;
	margin-top: 15px;
}
.final{
	text-align: $centro;
	font-family: $fontSecundaria;
	font-size: 1.3em;
}
h4.mayus{
	font-size: 2em;
}
.mayus{
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 8px;
	a{
		color: $colorAzul;
		&:hover{
			text-decoration: none;
			border-radius: 7px;
		}
	}
}

/**
.inline{
	display: inline-block;
	width: 50%;
}
.bloque{
	display: inline-block;
	width: 50%;
}*/
h3.inline2{
	background-color: $colorAzul;
	font-family: $fontSecundaria;
	text-align: center;
	font-size: 60px;
	color: $colorCrema;
	padding-top: 20px;
	padding-bottom: 15px;
}
.logoFijo{
	@include iconos;
	margin-left: 50px;
}
.logoFijo2{
	@include iconos;
	margin-left: 100px;
}
footer{
	background-color: $colorAzul;
	padding: 10px;
	width: 100%;
	grid-area: footer;
	display: flex;
	flex-direction: row;
	text-align: center;
	a{
		color: $colorSalmon;
		font-weight: bold;
		display: inline-block;
		position:relative;
		text-decoration: none;
		padding: 0 10px;
		border-radius: 10px;
		&:hover {
			background-color: $colorCeleste;
			color:$colorBlanco ;
			text-decoration: none;
		}
	}
	p{
		color: $colorBlanco;
		@include tamaño-font;
		font-weight: bold;
		padding-bottom: 4%;
	}
}
.videos{
	text-align: $centro;
	margin-bottom: 3%;
	.btn{
		display: inline-block;
	}
}

/** IMAGEN CON EFECTO */
.imgPersona{
	height: 500px;
	text-align: $centro;
	grid-area: img;
	margin-bottom: 2%;
}


/** TABLET*/
@media screen and (max-width: 992px) {
  	header{
		.menu_bar {
			display:block;
			width:100%;
			background: $colorAzul;
			.bt-menu {
			display:block;
			padding:20px;
			background: $colorAzul;
			color: $colorBlanco;
			text-decoration:none;
			font-weight: bold;
			font-size:25px;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			}
			img {
				float:right;
				width: 40px;
			}
		}
		nav {
			width:80%;
			height:100%;
			left:-100%;
			margin:0;
			position: fixed;
			background: $colorAzul;
			ul li {
				display:block;
				float:none;
				border-bottom:1px solid rgba(255,255,255, .3);
			}
			a{
				&.active{
					background-color: $colorAzul;
					:hover{
						background-color: $colorCeleste;
					}
				}
			}
		}
	}
  	.primeraParte{
		h1{
			padding-right: 0;
			font-size: 3.2em;
			padding: 5px;
			display: block;
		}
	}
  	.margin{
		margin-left: 0;
	}
	
	/** IMAGEN CON EFECTO */
	.imgPersona{
		height: 400px;
	}
	.logoFijo{
		@include iconos;
		margin-left: 20px;
		
	}
	.logoFijo2{
		@include iconos;
		margin-left: 70px;
	}
	h3.inline2{
		font-size: 2em;
	}
}



/** MOBILE */
@media screen and (max-width: 576px) {
  	header nav a {
    		float: none;
    		position: initial;
  	}
  	.primeraParte{
		h1{
			font-size:  2.3em;
			padding-right: 0;
			padding: 5px;
		}
	}
  	.margin{
		margin-left: 0;
	}
	
	/** IMAGEN CON EFECTO */
	.imgPersona{
		height: 200px;
	}
}


/** TAMAÑO TIPOGRAFIA */
$tamaño-font: 1em;
@for $i from 1 to 6 {
   .mTop--#{$i} {
        font-size: $tamaño-font * $i,
   } 
}

/* GROSOR TIPOGRAFIA */
@each $l, $m in $Weight {
    .type--#{$l} {
        font-family: $fontPrincipal;
        font-weight: $m;
    }
}

/** TAMAÑOS */
@each $k, $v in $size {
    .text--#{$k} {
        font-size: $v;
    }
}
