@import "variables";
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: $fontPrincipal;
	background-image: linear-gradient(to right top, #edb78f, #a7a374, #6a896d, #426a66, #334a52);
	color: $colorAzul;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 20px;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	padding: 3%;
}
img{
	width: 300px;
}
h4{
	font-size: 40px;
	font-family: 'Raleway';
}
.logos{
	width: 2.5rem;
}
#mySidenav{
	a{
		position: absolute; 
		left: -175px;
		transition: 0.3s;
		padding: 15px;
		width: 230px;
		text-decoration: none; 
		font-size: 1em; 
		color: white; 
		border-radius: 0 5px 5px 0;
		&:hover{
			left: 0;
			padding-left: 50px;
		}
	}
	#in {
	  top: 100px;
	  background-color: #04AA6D;
	}

	#an {
	  top: 160px;
	  background-color: #2196F3; 
	}

	#bl{
	  top: 220px;
	  background-color: #f44336; 
	}

	#re{
	  top: 280px;
	  background-color: #555
	}
}

.sectoresWeb{
	a{
		color:$colorAzul;
		font-weight: bold;
		display: inline-block;
		position:relative;
		text-decoration: none;
		padding: 0 10px;
		&:hover{
			background-color: $colorAzul;
			color: $colorAmarillo;
			text-decoration: none;
		}
	}
	p{
		padding-top: 10px;
		padding-bottom: 5px;
	}
}
#navbarNav{
	background-color: #334A52;
	position: fixed;
	width: 100%;
	z-index: 10;	
	grid-area: header;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	justify-content: center;
	margin: 0;
	opacity: 0.8;
	.nav-link{
		color: #EDB78F;
		font-weight: bold;
		text-decoration: none;
		padding: 0 10px;
		margin-top: 65px;
		opacity: none;
		&:hover {
			background-color:#EDB78F;
			color:#334A52 ;
			padding: 8px;
		}
	}
	img{
		width: 1rem;
	}
}
.dropdown{
	margin-top: 60px;
	color: #EDB78F;
	margin-left: 5rem;
	a:hover{
		color:#EDB78F ;
	}
	.dropdown-item{
		font-family: 'Raleway';
		font-size: 0.3em;
		#logo{
			margin-top: 50px;
			margin-right: 5rem;
			img{
				width: 12rem;
				border-radius: 15px;
			}	
		}
	}
	.dropdown-menu{
		margin-right: 10rem;
	}
}
.primeraParte{
	grid-area: banner;
	h1{
		color:#334A52 ;
		padding: 3px;
		font-size: 5em;
		font-family: 'Staatliches';
		font-weight: bold;
		text-align: $centro;	
		background-image: url("../media/fondoformas.jpg");	
		position: fixed;
		width: 100%;
		padding-right: 15%;
	}
	#banner{
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		align-content: center;
		justify-content: center;
		text-align: center;
		grid-template-areas: 
		"img text"
		"img text";
		margin-top: 3%;
		.imgBanner{
			grid-area: img;
			margin: 10px;
			img{
				width: 400px;
			}
		}
		.bannerInfo{
			grid-area: text;
			color: #334A52;
			font-weight: bold;
			h6{
				font-family: 'Staatliches';
				font-size: 5em;
			}
			h7{
				font-family: 'Raleway';
				font-size: 2em;
			}
			img{
				width: 100px;
				margin: 1rem;
			}
		}
	}
}
#indice{
	padding: 1.5rem;
	display: inline-block;
	background-color:#334A52;
	grid-area: indice;
	text-align: center;
	h3{
		color: #EDB78F;
		font-family: 'Staatliches';
		font-size: 30px;
		text-align: center;
	}
	a{
		color:#EDB78F ; 
		font-weight: bold;
		text-decoration: none;
		&:hover{
			color: #BAA89B; 
		}
	}
	ul{
		list-style-image: url("../media/paraindice.png") ;
		list-style-type: upper-latin;
		list-style-position: inside;
		align-items: 30px;
		text-align: left;
	}
	img{
		text-align: center;
	}	
	.indi{
		margin-left: 40%;
	}
}
.textos{
	font-family: 'Raleway';
	text-align: justify;
	font-size: 1em;
	margin-bottom: 15px;
	margin-right: 3%;
}
.especial{
	margin-right: 8%;
	margin-left: 8%;
	text-indent: 3em;
}
.listasP{
	list-style-position: inside;
	margin: 1em;
	margin-right: 3%;
	font-family: $fontPrincipal;
}
.fondoRosado{
	margin-right: 3%;
	margin-left:  3%;
}
.escritoP{
	font-family: 'Raleway';
	text-align: justify;
	color: #334A52;
	padding-bottom: 3%;
	padding-top: 3%; 
	margin-bottom: 2%;
	margin-top: 2%;
	&:hover{
		color: #EDB78F;
	}
	p{
		margin-right: 10%;
		margin-left: 10%;
		font-weight: bold;
	}
}
.titulosP{
	font-family: 'Staatliches';
	font-size: 1.5em;
	margin-bottom: 8px;
	margin-top: 15px;
}
.lluvia{
	text-align: center;
	font-family: 'Staatliches';
	font-size: 2em;
	margin-bottom: 8px;
	margin-top: 15px;
}
.final{
	text-align: center;
	font-family: 'Staatliches';
	font-size: 1.3em;
}
h4.mayus{
	font-size: 2em;
}
.mayus{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.5em;
	margin-top: 8px;
	a{
		color: #334A52;
		font-size: 0.7em;
		&:hover{
			text-decoration: none;
			border-radius: 7px;
		}
	}
}
.inline{
	display: inline-block;
	width: 50%;
}
.bloque{

	display: inline-block;
	width: 50%;
}
h3.inline2{
	background-color:#334A52;
	font-family: 'Staatliches';
	text-align: center;
	font-size: 60px;
	color: #EDB78F;
	padding-top: 20px;
	padding-bottom: 15px;
}
.logoFijo{
	display: block;
	position: fixed;
	bottom: 0;
	margin-left: 95%;
	#gmail{
		width: 40px;
	}
}
footer{
	background-color: #334A52;
	padding: 10px;
	width: 100%;
	grid-area: footer;
	grid-column: 1 / 3;
	grid-grow: 4;
	display: flex;
	flex-direction: row;
	text-align: center;
	a{
		color: #EDB78F;
		font-weight: bold;
		display: inline-block;
		position:relative;
		text-decoration: none;
		padding: 0 10px;
		&:hover {
			background-color:#EDB78F ;
			color:#334A52 ;
			text-decoration: none;
		}
	}
}

/** PRUEBAS2 */

body {
  margin: 0;
  font-family: 'raleway';
  background-image: linear-gradient(to right top, #edb78f, #a7a374, #6a896d, #426a66, #334a52);
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #334A52;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #EDB78F;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: fixed;

  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}