@import "variables";
#index1{
	grid-template-areas: 
	"header header header"
	"banner banner banner"
	"indice indice indice"
	"intro intro intro"
	"blog blog blog"
	"footer footer footer";
}
#introduccion{
	grid-area: intro;
}
#blog{
	grid-area: blog;
	text-align: center;
	#descripcion{
		padding: 3%;
	}
	#fotoMia{
		padding: 3%;
		img{
		border-radius: 20px;
	}
	}
}
