@import "variables";

/**MIXIN */
@mixin positionInfo(){
	position:relative;
}
/** */

#fondo{
	background-image: url('../media/banner.jpg');
	background-size: cover;	
	@include positionInfo;
	&:before{
		content:'';
		position: absolute;
        top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,0.4);
	}
}
#index1{
	grid-template-areas: 
	"header header header"
	"banner banner banner"
	"indice indice indice"
	"intro intro intro"
	"blog blog blog"
	"footer footer footer";
}

#mySidenav{
	@include positionInfo;
	a{
		position: absolute; 
		left: -180px;
		transition: 0.3s;
		padding: 15px;
		width: 215px;
		text-decoration: none; 
		font-size: 1em; 
		color: white; 
		border-radius: 0 5px 5px 0;
		font-family: $fontPrincipal;
		font-weight: bolder;
		&:hover{
			left: 0;
			padding-left: 35px;
		}
	}
	#in {
	  top: 220px;
	  background-color: $colorCrema;
	}

	#an {
	  top: 280px;
	  background-color: $colorSalmon; 
	}

	#bl{
	  top: 340px;
	  background-color: $colorCeleste; 
	}

	#re{
	  top: 400px;
	  background-color: $colorAzul;
	}
	img{
		width: 20px;
		padding-right: 5px;
	}
}
#banner{
		@include positionInfo;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		align-content: center;
		justify-content: center;
		text-align: center;
		grid-template-areas: 
		"tit tit"
		"img text"
		"img text";
		margin-top: 3%;
		.imgBanner{
			grid-area: img;
			margin: 10px;
			img{
				width: 380px;
			}
		}
		.bannerInfo{
			grid-area: text;
			color: #334A52;
			img{
				width: 100px;
				margin: 1rem;
			}		
		}
		.bannerN{
			font-family: $fontSecundaria;
			font-weight: bolder;
			color: $colorCrema;
			text-shadow: 1.5px 1.5px 1.5px $colorAzul;
			text-align: $centro;
			font-size: 2.3em;
			margin-bottom: 5px;
			margin-right: 8%;

		}
		.bannerP{
			font-family: $fontPrincipal;
			text-align: justify;
			color: $colorBlanco;
			font-size: 1.2em;
			margin-bottom: 15px;
			margin-right: 8%;
			font-weight: bolder;
			text-shadow: 1px 1px 1px $colorAzul;
		}
}
.bannerTitulo{
	@include positionInfo;
	grid-area: tit;
	h6{
		font-family: $fontSecundaria;
		font-size: 5em;
		color: $colorSalmon;
		text-shadow: 2px 2px 2px $colorAzul;
		font-weight: bolder;
		text-align: $centro;
	}
}		



/** RESPONSIVE MOBILE y TABLET */

/** TABLET*/
@media screen and (max-width: 825px) {
	#fondo{
		background-image: url('../media/bannerTablet.jpg');
		&:before{
			content:'';
			position: absolute;
	        top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0,0,0,0.4);
		}
	}
	#banner{
		grid-template-areas: 
		"tit tit"
		"img img"
		"text text";
		.imgBanner{
			img{
				margin-top: 3%;
				width: 300px;
			}
		}
		.bannerInfo{
			margin-left: 5%;
			img{
				width: 70px;
			}
		}
		.bannerN{
			font-size: 1.5em;
			margin-top: 5%;
		}
	}
	.bannerTitulo{
		h6{
			font-size: 3em;
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	#mySidenav{
		a{
			left: -175px;
			width: 215px;
			font-size: 1em;
			&:hover{
				padding-left: 15px;
			} 
		}
		#in {
			top: 140px;
		}
		#an {
			top: 200px;
		}
		#bl{
			top: 260px;
		}
		#re{
			top: 320px;
		}
		img{
			width: 15px;
		}
	}
}

/** MOBILE */
@media screen and (max-width: 400px) {
	#fondo{
		background-image: url('../media/bannerMobile.jpg');
		&:before{
			content:'';
			position: absolute;
	        top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0,0,0,0.4);
		}
	}
	#banner{
		grid-template-areas: 
		"tit tit"
		"img img"
		"text text";
		.imgBanner{
			img{
				margin-top: 15%;
				width: 200px;
			}
		}
		.bannerInfo{
			margin-left: 5%;
			img{
				width: 40px;
			}
		}
		.bannerN{
			font-size: 1.2em;
			margin-top: 15%;
			color: $colorCrema;
			text-shadow: 1px 1px 1px $colorCeleste;
		}
		.bannerP{
			font-size: 0.8em;
		}
	}
	.bannerTitulo{
		h6{
			font-size: 2em;
			color: $colorCrema;
		}		
	}
	#mySidenav{
		a{
			left: -175px;
			width: 215px;
			font-size: 1em;
			&:hover{
				padding-left: 15px;
			} 
		}
		#in {
			top: 140px;
		}
		#an {
			top: 200px;
		}
		#bl{
			top: 260px;
		}
		#re{
			top: 320px;
		}
		img{
			width: 15px;
		}
	}
}
