@import "variables";
#index2{
	grid-template-areas: 
	"img img img"
	"item1 item1 item1"
	"item2 item2 item2"
	"item3 item3 item3"
	"item4 item4 item4"
	"item5 item5 item5"
	"form form form"
	"exp exp exp"
	"op op op"
	"footer footer footer";
	@include grid;
}
#item1{
	grid-area: item1;
}
#item2{
	grid-area: item2;
}
#item3{
	grid-area: item3;
}
#item4{
	grid-area: item4;
}
#item5{
	grid-area: item5;
}
#explicacion{
	grid-area: exp;
}
#formularioG{
	grid-area: form;
	
}

#miOpinion{
	grid-area: op;
}


@mixin margenes(){
	margin-right: 35px;
	margin-left:  35px;
}

.preg{
	@include margenes;
	
}

.limite{
	width: 550px;
	text-align: center;
	display: inline-block;
	.contenido{
		height:0px;
		width:100%;
		max-width:550px; 
		padding-top:56.25%; 
		position:relative;
		margin: 20px;
		iframe{
			position:absolute;
			height:100%;
			width:100%;
			top:0px;
			left:0px;
		}
	}
}

.video{
	width: 700px;
	text-align: center;
	display: inline-block;
	.mobileVideo{
		height:0px;
		width:100%;
		max-width:700px; 
		padding-top:56.25%; 
		position:relative;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	iframe{
		position:absolute;
		height:100%;
		width:100%;
		top:0px;
		left:0px;
	}
}

.delimitador{
	width:300px;
	.contenedor{
		height:0px;
		width:100%;
		max-width:300px; 
		padding-top:56.25%; 
		position:relative;
		margin: 20px;
		iframe{
			position:absolute;
			height:100%;
			width:100%;
			top:0px;
			left:0px;;
		}
	}
}

.modalVideo img{
	border-radius: 8px;
	transition: all 500ms ease-in-out;
	&:hover{
		filter: blur(5px);
	}
}


.modal-footer .btn{
    color: $colorAzul;
    background-color: transparent;
    background-image: none;
    border-color: $colorAzul;
    &:hover{
    	color: $colorBlanco;
    	background-color: $colorCeleste;
    	border-color: $colorBlanco;
    }
}

@media screen and (max-width: 1208px) {
	.delimitador{
		width:200px;
		text-align: center;
		display: inline-block;
		.contenedor{
			max-width:200px; 
		}
	}	
}

@media screen and (max-width: 992px){
	.video{
		width: 570px;
		.mobileVideo{
			max-width: 570px;
		}
	}
}
@media screen and (max-width: 692px){
	.delimitador{
		width:370px;
		display: flex;
		flex-wrap: wrap;
		.contenedor{
			max-width:370px; 
		}
	}
	.video{
		width: 550px;
		.mobileVideo{
			max-width: 500px;
		}
	}
	.limite{
		width: 500px;
		.contenido{
			max-width:500px; 
		}
	}
}


@media screen and (max-width: 576px){
	.video{
		width: 300px;
		.mobileVideo{
			max-width: 300px;
		}
	}
	.limite{
		width: 420px;
		.contenido{
			max-width: 420px; 
		}
	}
}

@media screen and (max-width: 452px){
	.limite{
		width: 370px;
		.contenido{
			max-width:370px; 
		}
	}
}

@media screen and (max-width: 352px){	
	.delimitador{
		width:290px;
		.contenedor{
			max-width:290px; 
		}
	}
	
	.video{
		width: 240px;
		.mobileVideo{
			max-width: 240px;
		}
	}
	.limite{
		width: 240px;
		.contenido{
			max-width: 240px; 
		}
	}
}



	
