@import "variables";
#index2{
	grid-template-areas: 
	"img img img"
	"item1 item1 item1"
	"item2 item2 item2"
	"item3 item3 item3"
	"item4 item4 item4"
	"item5 item5 item5"
	"form form form"
	"exp exp exp"
	"op op op"
	"footer footer footer";
	@include grid;
}
#item1{
	grid-area: item1;
}
#item2{
	grid-area: item2;
}
#item3{
	grid-area: item3;
}
#item4{
	grid-area: item4;
}
#item5{
	grid-area: item5;
}
#explicacion{
	grid-area: exp;
}
#formularioG{
	grid-area: form;
	text-align: $centro;
}
#miOpinion{
	grid-area: op;
}



@mixin paraImagenes() {
	margin-bottom: 5%;
	border-radius: 8px;
}

.doble{
	margin-bottom: 10px;
	margin-top: 10px;
}

/** EFECTOS IMAGENES */
.efect1{
	transition: all 500ms ease-in-out;
	@include paraImagenes;
	&:hover{
	filter: blur(5px);
	}
}
.efect2{
	overflow:hidden;
	transition: all 500ms ease-in-out;
	@include paraImagenes;
	&:hover{
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
	}
}


iframe{
	border-radius: 8px;
}

@mixin margenes(){
	margin-right: 35px;
	margin-left:  35px;
}

.preg{
	@include margenes;
	
}

.video{
	width: 700px;
	.mobileVideo{
		height:0px;
		width:100%;
		max-width:700px; 
		padding-top:56.25%; 
		position:relative;
		margin: 20px;
	}
	iframe{
		position:absolute;
		height:100%;
		width:100%;
		top:0px;
		left:0px;
	}
}



.delimitador{
	width:300px;
	justify-content: $centro;
	display: -webkit-box;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	.contenedor{
		height:0px;
		width:100%;
		max-width:300px; 
		padding-top:56.25%; 
		position:relative;
		margin: 20px;
		iframe{
			position:absolute;
			height:100%;
			width:100%;
			top:0px;
			left:0px;;
		}
	}
}



@media screen and (max-width: 1208px) {
	.delimitador{
		width:200px;
		.contenedor{
			max-width:200px; 
		}
	}
	.imagenes{
		.galeria3{
			width: 230px;
		}
	}
	.galeriaI{
		width: 230px;
	}
}

@media screen and (max-width: 992px){
	.galeriaI{
		width: 180px;
	}
}
@media screen and (max-width: 692px){
	.delimitador{
		width:370px;
		display: flex;
		flex-wrap: wrap;
		.contenedor{
			max-width:370px; 
		}
	}
	.imagenes{
		img{
			width: 500px;
		}
	}
}

@media screen and (max-width: 352px){
	.delimitador{
		width:290px;
		.contenedor{
			max-width:290px; 
		}
	}
	.imagenes{
		img{
			width: 290px;
		}
	}
}