@import "variables";
#index2{
	grid-template-areas: 
	"img img img"
	"item1 item1 item1"
	"item2 item2 item2"
	"item3 item3 item3"
	"item4 item4 item4"
	"item5 item5 item5"
	"form form form"
	"exp exp exp"
	"op op op"
	"footer footer footer";
	@include grid;
}
#item1{
	grid-area: item1;
}
#item2{
	grid-area: item2;
}
#item3{
	grid-area: item3;
}
#item4{
	grid-area: item4;
}
#item5{
	grid-area: item5;
}
#explicacion{
	grid-area: exp;
}
#formularioG{
	grid-area: form;
	text-align: $centro;
}
#miOpinion{
	grid-area: op;
}
.efect1{
	transition: all 500ms ease-in-out;
	&:hover{
	filter: blur(5px);
	}
}
.efect2{
	overflow:hidden;
	transition: all 500ms ease-in-out;
	&:hover{
	-webkit-transform:scale(1.3);
	transform:scale(1.3);
	}
}
.resul{
	padding: 2%;
	
	
	/** DEJE PREPARADA ESTA PARTE PARA CUANDO TENGA LAS RESPUESTAS DEL FORMULARIO */

	/**.gridResul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 20px;
		justify-content: stretch;
		align-content: stretch;
		align-items: $centro;
		grid-template-areas:
		"edad acF sen"
		"nega ali sana"
		"comen comenMal conf"
		"hoy opAf opAF"
		"ta redS redS"
		"del del maT"
		"salud est mat"
		"aE fut fut";
		.contenedorR{
			background-color: $colorAzul;
			border-radius: $bordes;
			text-align: $centro;
			color: $colorBlanco;
			padding: 1em;
			justify-content: stretch;
			align-content: stretch;
		}
		@mixin resultados(){
			overflow:scroll ;
			height: 200px;
		}
		#edad{
			grid-area: edad;
			@include resultados;
		}
		#actividadFisica{
			grid-area: acF;
			@include resultados;
		}
		#sentimientos{
			grid-area: sent;
			@include resultados;
		}
		#negativos{
			grid-area: nega;
		}
		#alimentacion{
			grid-area: ali;
		}
		#alimentacionSana{
			grid-area: sana;
		}
		#comentarios{
			grid-area: comen;
		}
		#comentarioMalos{
			grid-area: comenMal;
		}
		#conforme{
			grid-area: conf;
		}
		#dispuestoHoy{
			grid-area: hoy;
		}
		#opinionAF{
			grid-area: opAF;
		}
		#salud{
			grid-area: salud;
		}
		#trastornoAlimen{
			grid-area: ta;
		}
		#redesSociales{
			grid-area: redS;
		}
		#conforme{
			grid-area: conf;
		}
		#cuerpoD{
			grid-area: del;
		}
		#cuerpoMaT{
			grid-area: maT
		}
		#estereotipos{
			grid-area: est;
		}
		#actExtra{
			grid-area: aE;
		}
		#futuro{
			grid-area: fut;
		}
	}	*/
}

