@import "variables";

#index4{
	grid-template-areas: 
	"ejer ejer ejer"
	"img img img"
	"ali ali ali"
	"psico psico psico"
	"influ influ influ"
	"footer footer footer";
	@include grid;
}

#alimentacion{
	grid-area: ali;
}
#ejercitacion{
	grid-area: ejer;
}
#influencers{
	grid-area: influ;
}
#psicologia{
	grid-area: psico;
}

.card{
	justify-content: stretch;
	text-align: center;
	margin: 1.5em;
	color: $colorAzul;
	p{
		font-family: 'Raleway';
		span{
			font-weight: bolder;
			text-transform: uppercase;
		}
	}
	.perfil{
		background-color:  $colorAzul; 
		color: $colorCrema;
		border-color:  $colorAzul;
		border-radius: 8px;
		text-transform: uppercase;
		&:hover{
			background-color:$colorCrema; 
			color:  $colorAzul;
			border-color:$colorCrema;
			border-radius: 8px;
		}
	}
}
.card-title{
	font-family: $fontSecundaria;
	font-weight: bold;
	font-size: 1.4em;
}
.card-text{
	text-align: justify;
	font-family: $fontPrincipal;
}
.fotos{
	width: 18%;
}




