/** TIPOGRAFIAS */
$fontPrincipal:'Raleway';
$fontSecundaria: 'Staatliches';

/** COLORES */
$colorAzul: #334A52;
$colorCrema: #EDB78F;
$colorBlanco: white;

/** MEDIDAS */
$bordes: 15px;

/** ALINEACION */
$centro: center;

/** TAMAÑO VIDEOS */
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);