/** TIPOGRAFIAS */
$fontPrincipal:'Raleway';
$fontSecundaria: 'Staatliches';

/** COLORES */
$colorAzul: #334A52;
$colorCeleste: #8B84DA;
$colorAmarillo: #FEBA3F;
$colorRojo: #D14121;
$colorBlanco: white;

/** MEDIDAS */
$bordes: 15px;

/** ALINEACION */
$centro: center;