/** TIPOGRAFIAS */
$fontPrincipal:'Raleway';
$fontSecundaria: 'Staatliches';

/** COLORES */
$colorAzul: #334A52;
$colorCrema: #EDB78F;
$colorBlanco: white;
$colorSalmon: #EA7353;
$colorCeleste: #516266;

/** MEDIDAS */
$bordes: 15px;

/** ALINEACION */
$centro: center;

@mixin grid(){
	grid-gap: 10px;
	align-items: $centro;
	justify-content: $centro;
	text-align: $centro;
}
