@charset "UTF-8";
/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
/** MIXIN PARA TAMAÑO DE FUENTES*/
/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
/** MIXIN PARA TAMAÑO DE FUENTES*/
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Raleway";
  background-image: -webkit-gradient(linear, left bottom, right top, from(#edb78f), color-stop(#a7a374), color-stop(#6a896d), color-stop(#426a66), to(#334a52));
  background-image: linear-gradient(to right top, #edb78f, #a7a374, #6a896d, #426a66, #334a52);
  color: #334A52;
  overflow-x: hidden;
}

.margin {
  margin-left: 200px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  width: 100%;
}

header .menu_bar {
  display: none;
  font-family: "Raleway";
}

header nav {
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  width: 205px;
  background-color: #334A52;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-weight: bolder;
  z-index: 1;
}

header nav a {
  display: block;
  color: white;
  padding: 16px;
  font-size: 1em;
}

header nav a.active {
  background-color: #EDB78F;
  color: white;
  text-decoration: none;
}

header nav a:hover:not(.active) {
  background-color: #516266;
  color: white;
  text-decoration: none;
}

header nav img {
  width: 20px;
  margin-right: 10px;
}

header nav ul {
  overflow: hidden;
  list-style: none;
}

img {
  width: 300px;
}

h4 {
  font-size: 40px;
  font-family: "Raleway";
}

.logos {
  width: 2.5rem;
}

.sectoresWeb a {
  color: #334A52;
  font-weight: bold;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.sectoresWeb a:hover {
  background-color: #334A52;
  color: #EDB78F;
  text-decoration: none;
}

.sectoresWeb p {
  padding-top: 10px;
  padding-bottom: 5px;
}

.primeraParte {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: banner;
}

.primeraParte h1 {
  color: #334A52;
  padding: 3px;
  font-size: 5em;
  font-family: "Staatliches";
  font-weight: bold;
  text-align: center;
  background-image: url("../media/fondoFormas.png");
  background-size: cover;
  width: 100%;
}

.textos {
  font-family: "Raleway";
  text-align: justify;
  font-size: 1em;
  margin-bottom: 15px;
}

.textos span {
  font-weight: bolder;
  text-transform: uppercase;
}

.especial {
  margin-right: 8%;
  margin-left: 8%;
  text-indent: 2em;
  font-weight: bold;
}

.listasP {
  list-style-position: inside;
  margin: 1em;
  margin-right: 3%;
  font-family: "Raleway";
  text-align: justify;
}

.listasP span {
  font-weight: bolder;
  text-transform: uppercase;
}

.escritoP {
  font-family: "Raleway";
  text-align: justify;
  color: #334A52;
  padding-bottom: 3%;
  padding-top: 3%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.escritoP:hover {
  color: #EDB78F;
}

.escritoP p {
  margin-right: 6%;
  margin-left: 6%;
  font-weight: bold;
}

.titulosP {
  font-family: "Staatliches";
  font-size: 1.5em;
  margin-bottom: 8px;
  margin-top: 15px;
  text-align: left;
}

.lluvia {
  text-align: center;
  font-family: "Staatliches";
  font-size: 2em;
  margin-bottom: 8px;
  margin-top: 15px;
}

.final {
  text-align: center;
  font-family: "Staatliches";
  font-size: 1.3em;
}

h4.mayus {
  font-size: 2em;
}

.mayus {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 8px;
}

.mayus a {
  color: #334A52;
}

.mayus a:hover {
  text-decoration: none;
  border-radius: 7px;
}

/**
.inline{
	display: inline-block;
	width: 50%;
}
.bloque{
	display: inline-block;
	width: 50%;
}*/
h3.inline2 {
  background-color: #334A52;
  font-family: "Staatliches";
  text-align: center;
  font-size: 60px;
  color: #EDB78F;
  padding-top: 20px;
  padding-bottom: 15px;
}

.logoFijo {
  display: block;
  position: fixed;
  z-index: 1;
  bottom: 0;
  margin-left: 50px;
}

.logoFijo img {
  width: 40px;
}

.logoFijo2 {
  display: block;
  position: fixed;
  z-index: 1;
  bottom: 0;
  margin-left: 100px;
}

.logoFijo2 img {
  width: 40px;
}

footer {
  background-color: #334A52;
  padding: 10px;
  width: 100%;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

footer a {
  color: #EA7353;
  font-weight: bold;
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 0 10px;
  border-radius: 10px;
}

footer a:hover {
  background-color: #516266;
  color: white;
  text-decoration: none;
}

footer p {
  color: white;
  font-size: small;
  font-weight: bold;
  padding-bottom: 4%;
}

.videos {
  text-align: center;
  margin-bottom: 3%;
}

.videos .btn {
  display: inline-block;
}

/** IMAGEN CON EFECTO */
.imgPersona {
  height: 500px;
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img;
  margin-top: 120px;
  margin-bottom: 2%;
}

/** TABLET*/
@media screen and (max-width: 992px) {
  header .menu_bar {
    display: block;
    width: 100%;
    background: #334A52;
  }
  header .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    background: #334A52;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  header .menu_bar img {
    float: right;
    width: 40px;
  }
  header nav {
    width: 80%;
    height: 100%;
    left: -100%;
    margin: 0;
    position: fixed;
    background: #334A52;
  }
  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  header nav a.active {
    background-color: #334A52;
  }
  header nav a.active :hover {
    background-color: #516266;
  }
  .primeraParte h1 {
    padding-right: 0;
    font-size: 3.2em;
    padding: 5px;
    display: block;
  }
  .margin {
    margin-left: 0;
  }
  /** IMAGEN CON EFECTO */
  .imgPersona {
    height: 400px;
  }
  .logoFijo {
    display: block;
    position: fixed;
    z-index: 1;
    bottom: 0;
    margin-left: 20px;
  }
  .logoFijo img {
    width: 40px;
  }
  .logoFijo2 {
    display: block;
    position: fixed;
    z-index: 1;
    bottom: 0;
    margin-left: 70px;
  }
  .logoFijo2 img {
    width: 40px;
  }
  h3.inline2 {
    font-size: 2em;
  }
}

/** MOBILE */
@media screen and (max-width: 576px) {
  header nav a {
    float: none;
    position: initial;
  }
  .primeraParte h1 {
    font-size: 2.3em;
    padding-right: 0;
    padding: 5px;
  }
  .margin {
    margin-left: 0;
  }
  /** IMAGEN CON EFECTO */
  .imgPersona {
    height: 200px;
  }
}

/** TAMAÑO TIPOGRAFIA */
.mTop--1 {
  font-size: 1em;
}

.mTop--2 {
  font-size: 2em;
}

.mTop--3 {
  font-size: 3em;
}

.mTop--4 {
  font-size: 4em;
}

.mTop--5 {
  font-size: 5em;
}

/* GROSOR TIPOGRAFIA */
.type--thin {
  font-family: "Raleway";
  font-weight: 100;
}

.type--light {
  font-family: "Raleway";
  font-weight: 300;
}

.type--regular {
  font-family: "Raleway";
  font-weight: 400;
}

.type--bold {
  font-family: "Raleway";
  font-weight: 700;
}

/** TAMAÑOS */
.text--xsm {
  font-size: 1rem;
}

.text--sm {
  font-size: 1.8rem;
}

.text--md {
  font-size: 2.3rem;
}

.text--lg {
  font-size: 3rem;
}

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
/** MIXIN PARA TAMAÑO DE FUENTES*/
/**MIXIN */
/** */
#fondo {
  background-image: url("../media/banner.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

#fondo:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#index1 {
      grid-template-areas: "header header header" "banner banner banner" "indice indice indice" "intro intro intro" "blog blog blog" "footer footer footer";
}

#mySidenav {
  position: relative;
  text-align: right;
}

#mySidenav a {
  position: absolute;
  left: -180px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 8px;
  width: 215px;
  text-decoration: none;
  font-size: 1em;
  color: white;
  border-radius: 0 5px 5px 0;
  font-family: "Raleway";
  font-weight: bolder;
}

#mySidenav a:hover {
  left: 0;
  padding-left: 30px;
}

#mySidenav #in {
  top: 220px;
  background-color: #EDB78F;
}

#mySidenav #an {
  top: 280px;
  background-color: #EA7353;
}

#mySidenav #bl {
  top: 340px;
  background-color: #516266;
}

#mySidenav #re {
  top: 400px;
  background-color: #334A52;
}

#mySidenav img {
  width: 32px;
  padding-left: 10px;
}

#banner {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
      grid-template-areas: "tit tit" "img text" "img text";
  margin-top: 3%;
}

#banner .imgBanner {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img;
  margin: 10px;
}

#banner .imgBanner img {
  width: 380px;
}

#banner .bannerInfo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: text;
  color: #334A52;
}

#banner .bannerInfo img {
  width: 100px;
  margin: 1rem;
}

#banner .bannerN {
  font-family: "Staatliches";
  font-weight: bolder;
  color: #EDB78F;
  text-shadow: 1.5px 1.5px 1.5px #334A52;
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 5px;
  margin-right: 8%;
}

#banner .bannerP {
  font-family: "Raleway";
  text-align: justify;
  color: white;
  font-size: 1.2em;
  margin-bottom: 15px;
  margin-right: 8%;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #334A52;
}

.bannerTitulo {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tit;
}

.bannerTitulo h6 {
  font-family: "Staatliches";
  font-size: 5em;
  color: #EA7353;
  text-shadow: 2px 2px 2px #334A52;
  font-weight: bolder;
  text-align: center;
}

/** RESPONSIVE MOBILE y TABLET */
/** TABLET*/
@media screen and (max-width: 992px) {
  #fondo {
    background-image: url("../media/bannerTablet.jpg");
  }
  #fondo:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  #banner {
        grid-template-areas: "tit tit" "img img" "text text";
  }
  #banner .imgBanner img {
    margin-top: 3%;
    width: 300px;
  }
  #banner .bannerInfo {
    margin-left: 5%;
  }
  #banner .bannerInfo img {
    width: 70px;
  }
  #banner .bannerN {
    font-size: 1.5em;
    margin-top: 5%;
  }
  .bannerTitulo h6 {
    font-size: 3em;
    padding-right: 15px;
    padding-left: 15px;
  }
  #mySidenav #in {
    top: 140px;
  }
  #mySidenav #an {
    top: 200px;
  }
  #mySidenav #bl {
    top: 260px;
  }
  #mySidenav #re {
    top: 320px;
  }
}

/** MOBILE */
@media screen and (max-width: 576px) {
  #banner {
        grid-template-areas: "tit tit" "img img" "text text";
  }
  #banner .imgBanner img {
    margin-top: 15%;
    width: 200px;
  }
  #banner .bannerInfo {
    margin-left: 5%;
  }
  #banner .bannerInfo img {
    width: 40px;
  }
  #banner .bannerN {
    font-size: 1.2em;
    margin-top: 15%;
    color: #EDB78F;
    text-shadow: 1px 1px 1px #516266;
  }
  #banner .bannerP {
    font-size: 0.8em;
  }
  .bannerTitulo h6 {
    font-size: 2em;
    color: #EDB78F;
  }
  #mySidenav #in {
    top: 140px;
  }
  #mySidenav #an {
    top: 200px;
  }
  #mySidenav #bl {
    top: 260px;
  }
  #mySidenav #re {
    top: 320px;
  }
}

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
/** MIXIN PARA TAMAÑO DE FUENTES*/
#index2 {
      grid-template-areas: "img img img" "item1 item1 item1" "item2 item2 item2" "item3 item3 item3" "item4 item4 item4" "item5 item5 item5" "form form form" "exp exp exp" "op op op" "footer footer footer";
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#item1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item1;
}

#item2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item2;
}

#item3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item3;
}

#item4 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item4;
}

#item5 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: item5;
}

#explicacion {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: exp;
}

#formularioG {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: form;
  text-align: center;
}

#miOpinion {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: op;
}

.limite {
  width: 600px;
}

.limite .contenido {
  height: 0px;
  width: 100%;
  max-width: 600px;
  padding-top: 56.25%;
  position: relative;
  margin: 20px;
}

.limite .contenido iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.doble {
  margin-bottom: 10px;
  margin-top: 10px;
}

/** EFECTOS IMAGENES */
.efect1 {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  margin-bottom: 5%;
  border-radius: 8px;
}

.efect1:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.efect2 {
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  margin-bottom: 5%;
  border-radius: 8px;
}

.efect2:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

iframe {
  border-radius: 8px;
}

.preg {
  margin-right: 35px;
  margin-left: 35px;
}

.video {
  width: 700px;
}

.video .mobileVideo {
  height: 0px;
  width: 100%;
  max-width: 700px;
  padding-top: 56.25%;
  position: relative;
  margin: 20px;
}

.video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.boxHorizontal {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
}

.boxHorizontal .galeriaI {
  height: 0px;
  width: 100%;
  max-width: 300px;
  position: relative;
  margin: 20px;
}

.boxHorizontal .galeriaI img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.delimitador {
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.delimitador .contenedor {
  height: 0px;
  width: 100%;
  max-width: 300px;
  padding-top: 56.25%;
  position: relative;
  margin: 20px;
}

.delimitador .contenedor iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 1208px) {
  .delimitador {
    width: 200px;
  }
  .delimitador .contenedor {
    max-width: 200px;
  }
  .imagenes .galeria3 {
    width: 180px;
  }
  .boxHorizontal {
    width: 230px;
  }
  .boxHorizontal .galeriaI {
    max-width: 230px;
  }
}

@media screen and (max-width: 992px) {
  .imagenes .galeria3 {
    width: 140px;
  }
  .boxHorizontal {
    width: 180px;
  }
  .boxHorizontal .galeriaI {
    max-width: 180px;
  }
  .video {
    width: 570px;
  }
  .video .mobileVideo {
    max-width: 570px;
  }
}

@media screen and (max-width: 692px) {
  .delimitador {
    width: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .delimitador .contenedor {
    max-width: 370px;
  }
  .boxHorizontal {
    width: 160px;
  }
  .boxHorizontal .galeriaI {
    max-width: 160px;
  }
  .imagenes .galeria3 {
    width: 500px;
  }
  .video {
    width: 550px;
  }
  .video .mobileVideo {
    max-width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .boxHorizontal {
    width: 120px;
  }
  .boxHorizontal .galeriaI {
    max-width: 120px;
  }
  .imagenes .galeria3 {
    width: 90px;
  }
  .video {
    width: 300px;
  }
  .video .mobileVideo {
    max-width: 300px;
  }
}

@media screen and (max-width: 352px) {
  .boxHorizontal {
    width: 100px;
  }
  .boxHorizontal .galeriaI {
    max-width: 100px;
  }
  .delimitador {
    width: 290px;
  }
  .delimitador .contenedor {
    max-width: 290px;
  }
  .imagenes .galeria3 {
    width: 290px;
  }
  .video {
    width: 250px;
  }
  .video .mobileVideo {
    max-width: 240px;
  }
}

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
/** MIXIN PARA TAMAÑO DE FUENTES*/
/** INDEX 3 */
#index3 {
      grid-template-areas: "consulta consulta consulta" "img img img" "form form form" "mensaje mensaje mensaje" "footer footer footer";
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

/** CONSULTA */
#consulta {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: consulta;
  padding: 2%;
}

/** FORMULARIO DE CONSULTA */
#formulario {
  background-image: url("../media/fondoFormas.png");
  color: #EDB78F;
  font-weight: bolder;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: bold;
  padding: 3%;
  margin: 3%;
  border-radius: 15px;
  text-align: left;
}

#formulario .btn {
  background-color: #334A52;
  color: #EDB78F;
  font-family: "Raleway";
  font-weight: bolder;
}

#formulario .btn:hover {
  background-color: #EDB78F;
  color: #334A52;
}

#formulario .container-flew .form {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: form;
}

/** MENSAJE LINDO */
#mensajeLindo {
  display: inline-block;
  text-align: center;
  font-size: 1em;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: mensaje;
}

#mensajeLindo img {
  border-radius: 15px;
  margin-bottom: 3.5%;
}

/** MODAL DE AGRADECIMIENTO */
.boton {
  font-family: "Staatliches";
  font-size: 1.3em;
  color: #334A52;
  background-color: #EDB78F;
  border-color: #334A52;
  margin-top: 2%;
}

.boton:hover {
  color: #EDB78F;
  background-color: #334A52;
  border-color: #EDB78F;
}

.modal-content {
  background-color: #EDB78F;
  color: #334A52;
}

.modal-content:hover {
  background-color: #334A52;
  color: #EDB78F;
}

.modal-content #exampleModal {
  font-family: "Raleway";
}

.modal-content .modal-title {
  font-family: "Staatliches";
}

.modal-content .modal-body {
  text-align: center;
}

.modal-content .modal-footer {
  font-family: "Staatliches";
}

.modal-content .botonExtra {
  margin-top: 10px;
}

/** MOBILE */
@media screen and (max-width: 576px) {
  #mensajeLindo img {
    width: 150px;
  }
  #mensajeLindo .lluvia {
    font-size: 1em;
  }
  #mensajeLindo p {
    margin: 5px;
    font-size: small;
  }
  #formulario .btn {
    font-size: small;
  }
  #formulario label {
    font-size: small;
  }
}

#index5 {
      grid-template-areas: "blog blog blog" "img img img" "yo yo yo" "galeria galeria galeria" "footer footer footer";
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#blog {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: blog;
}

#yo {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: yo;
}

#yo img {
  border-radius: 10px;
  height: 150px;
}

#galeria {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: galeria;
  margin-left: 2%;
  margin-right: 2%;
}

.unir2 {
  display: inline-block;
}

.unir {
  background-color: #EDB78F;
  border-radius: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.unir:hover {
  background-color: #334A52;
}

#linkBlog {
  padding: 5px;
  margin: 5px;
}

#linkBlog:hover {
  background-color: #334A52;
  color: white;
}

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
/** MIXIN PARA TAMAÑO DE FUENTES*/
@media only screen and (min-width: 768px) {
  #index1 {
        grid-template-areas: "header header header"		 "banner banner banner" "indice indice indice" "intro intro intro" "blog blog blog" "consulta consulta consulta" "footer footer footer";
  }
  #index2 {
        grid-template-areas: "banner banner banner" "indice indice indice" "item1 item1 item1" "item2 item2 item2" "item3 item3 item3" "item4 item4 item4" "item5 item5 item5" "footer footer footer";
  }
  #index3 {
    text-decoration: none;
  }
  #index4 {
        grid-template-areas: "header header header" "banner banner banner" "indice indice indice" "ejer ejer ejer" "ali ali ali" "psico psico psico" "influ influ influ" "footer footer footer";
  }
  #index5 {
        grid-template-areas: "header header header" "banner banner banner" "yo yo yo" "galeria galeria galeria" "footer footer footer";
  }
  h1 {
    padding-right: 0;
    position: static;
    margin-top: 200px;
  }
}

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
/** MIXIN PARA TAMAÑO DE FUENTES*/
@media only screen and (min-width: 1024px) {
  #index1 {
        grid-template-areas: "header header header" "banner banner banner" ". indice ." "intro intro intro" "blog blog blog" "consulta consulta consulta" "footer footer footer";
  }
  #index2 {
        grid-template-areas: "header header header" "banner banner banner" ". indice ." "item1 item1 item1" "item2 item2 item2" "item3 item3 item3" "item4 item4 item4" "item5 item5 item5" "footer footer footer";
  }
  #index4 {
        grid-template-areas: "header header header" "banner banner banner" ". indice ." "ejer ejer ejer" "ali ali ali" "psico psico psico" "influ influ influ" "footer footer footer";
  }
  #index5 {
        grid-template-areas: "header header header" "banner banner banner" "yo yo yo" "galeria galeria galeria" "footer footer footer";
  }
  .bloque {
    width: 50%;
  }
  #indice {
    border-radius: 13px;
  }
  .indi {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/** TIPOGRAFIAS */
/** COLORES */
/** MEDIDAS */
/** ALINEACION */
/** MIXIN PARA GRID's DE LAS PAGINAS SECUNDARIAS */
/* GROSOR DE LA TIPOGRAFIA Y TAMAÑOS */
/** MIXIN PARA ICONOS FIXED **/
/** MIXIN PARA TAMAÑO DE FUENTES*/
#index4 {
      grid-template-areas: "ejer ejer ejer" "img img img" "ali ali ali" "psico psico psico" "influ influ influ" "footer footer footer";
  grid-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#alimentacion {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: ali;
}

#ejercitacion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: ejer;
}

#influencers {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: influ;
}

#psicologia {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: psico;
}

a.btn {
  background: #334A52;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: white;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s 0s ease-out;
  transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: #38515a;
  color: white;
  -webkit-box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.25s 0s ease-out;
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: #2e434a;
  -webkit-box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
          box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  -webkit-transition: all 0.025s 0s ease-out;
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: white;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  -webkit-perspective: 1000;
          perspective: 1000;
  position: relative;
  text-align: left;
  -webkit-transition: all 0.3s 0s ease-in;
  transition: all 0.3s 0s ease-in;
  width: 300px;
}

div.card img {
  max-width: 300px;
}

div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 75%;
}

div.card div.card-title {
  background: white;
  padding: 6px 15px 10px;
  position: relative;
}

div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
}

div.card div.card-title a.toggle-info span {
  background: white;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  -webkit-transition: all 0.15s 0s ease-out;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}

div.card div.card-title a.toggle-info span.left {
  right: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

div.card div.card-title a.toggle-info span.right {
  left: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

div.card div.card-title h2 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  font-family: "Staatliches";
  color: #334A52;
}

div.card div.card-title h2 small {
  display: block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.025em;
  padding: 0;
  font-family: "Raleway";
  color: #334A52;
}

div.card div.card-title h2 small a:hover {
  color: gray;
  background-color: white;
  border-radius: 3px;
}

div.card div.card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
  text-align: justify;
  font-family: "Raleway";
}

div.card div.card-actions {
  -webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px 15px 20px;
  text-align: center;
}

div.card div.card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

div.card div.flap1 {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
}

div.card div.flap2 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}

div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}

.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}

div.card.show {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

div.card.show div.card-title a.toggle-info {
  background: #ff6666 !important;
}

div.card.show div.card-title a.toggle-info span {
  top: 15px;
}

div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}

div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}

div.card.show div.card-flap {
  background: white;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

div.card.show div.flap1 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}

div.card.show div.flap2 {
  -webkit-transition: all 0.3s 0.2s ease-out;
  transition: all 0.3s 0.2s ease-out;
}
/*# sourceMappingURL=estilo.css.map */